<div id="page-wrapper">
      <div class="main-page">
        <p id="notice"><%= notice %></p>
        <ul class='menu-icon'>
          <li><img src="/assets/leaveattendance.png" alt="" height="80px" width="80px"><br>
          <%= link_to 'Leave and Attendance', leaveattendance_attendance_index_path %></li><br>

          <li><img src="/assets/mis.png" alt="" height="80px" width="80px"><br>
          <%= link_to 'MIS', adminview_attendance_index_path %></li><br>
        </ul>
      </div>
      <div class="clearfix"> </div> 
</div>