<div id="page-wrapper">
  <div class="main-page">
   <div class="search-box">
      <input class="sb-search-input input__field--madoka" placeholder="Search..." type="search" id="input-31">
    </div><br>
    <div align="right">
     <%= link_to 'Upload Attendance', new_user_path,  :class => "btn btn-default"%><br></div> 
     <br>
     <br>
  </div>
</div>